/*
|
|   CSS STYLESHEET FOR MODULE 2 ASSIGNMENT
|   
|   Tablet size: 768-991px
|   Mobile size: < 768px
*/
:root{
    --chicken-color:#93BFF215;
    --chicken-color-contrast:#4F7BAE;
    --beef-color:#C7006715;
    --beef-color-contrast:#C70067;
    --sushi-color:#FEC50015;
    --sushi-color-contrast:#D17000;
    --light-gray:#DDDDDD75;
    --dark-gray:#000000;
    --color-SECONDARY: var(--light-gray);
    --color-ALERT: #FEC500;
    --card-width:30%;
    --font-size:14px;
}
body {
    font-family:Arial, Helvetica, sans-serif;
    font-size: var(--font-size);
    box-sizing: border-box;
}
.navbar-toggler{
    outline:none !important;
    border:none !important;
    box-shadow:none !important;
}
.ASX-CARD{
    height: 150vh;
}
.text-justify{
    text-align:justify !important;
}
.H2EM{
    height: 2em !important;
}
.H3EM{
    height: 3em !important;
}
.W1EM{
    width: 1em !important;
}
.BG-SECONDARY {
    background-color: var(--color-SECONDARY) !important;
}
.BG-S-SECONDARY {
    background-color: var(--color-SECONDARY);
}
.BG-S-SECONDARY:hover {
    background-color: var(--color-ALERT);
}
.CHICKEN{
    color: var(--chicken-color-contrast);
    background-color: var(--chicken-color);
}
.BEEF{
    color: var(--beef-color-contrast);
    background-color: var(--beef-color);
}
.SUSHI{
    color: var(--sushi-color-contrast);
    background-color: var(--sushi-color);
}
@media (max-width: 991px){
    :root{
        --card-width:45%;
    }
}
@media (max-width: 768px){
    :root{
        --card-width:100%;
    }
}